/* ==========================================================================
   #MOBILE-NAV
   ========================================================================== */

$menu-max-width: 24em;

.c-mobile-nav {
    position: fixed;
    top: 0;
    right: -24em;
    transform: translateX(0);
    transition: $global-transition transform ease;
    z-index: 100;
    box-shadow: $global-shadow;
    background-color: $c-white;
    width: 90%;
    max-width: $menu-max-width;
    height: 100%;
    overflow-y: scroll;

    .is-mobile-nav-open &,
    &.c-mobile-nav--active {
        transform: translateX(-$menu-max-width);
    }
}

    .c-mobile-nav__wrapper {
        transform: translateX(-50%);
        transition: $global-transition transform ease;
        padding: 0 $unit;

        .is-mobile-nav-open &,
        .c-mobile-nav--active & {
            transform: translateX(0);
        }
    }

        .c-mobile-nav__header {
            display: flex;
            height: 56px;
            align-items: center;
            justify-content: space-between;
        }

            .c-mobile-nav__title {
                display: inline-block;
                margin-bottom: 0;
                color: $c-textalt;
                font-size: inuit-rem(22px);
                font-weight: 400;
            }

        .c-mobile-nav__search {
            margin: $unit 0;
        }

        .c-mobile-nav__list {
            list-style: none;
        }

                .c-mobile-nav__link {
                    display: block;
                    padding: $unit-small $unit;
                    color: $c-text;

                    &:hover {
                        background-color: $c-accent;
                        color: $c-white;
                    }
                }

/*
 * Transparent overlay while mobile nav is visible
 */
body:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: $global-transition background-color;
    z-index: -99;
    background-color: rgba($c-black, 0);
    content: "";
}

.is-mobile-nav-open > body {
    overflow: hidden;

    &:after {
        z-index: 99;
        background-color: rgba($c-black, .5);
    }
}

