/* ==========================================================================
#BUTTONS
========================================================================== */

/**
* This is an example component. Extend inuitcss by building your own components
* that make up your UI. Component classes are prefixed with a `c-`.
*/

/**
* 1. Allow us to style box model properties.
* 2. Line different sized buttons up a little nicer.
* 3. Make buttons inherit font styles (often necessary when styling `input`s as
*    buttons).
* 4. Reset/normalize some styles.
* 5. Force all button-styled elements to appear clickable.
*/

.c-btn {
    display: inline-block; /* [1] */
    vertical-align: middle; /* [2] */
    font: inherit; /* [3] */
    text-align: center; /* [4] */
    margin: 0; /* [4] */
    cursor: pointer; /* [5] */
    padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit-large;
    transition: $global-transition;
    border-radius: $global-radius;
    border-width: 0;
    // font-family: $font-secondary;

    > [class^="u-ic-"],
    > [class*=" u-ic-"] {
        vertical-align: -2px;
    }
}





/* Style variants
========================================================================== */

.c-btn--primary {
    background-color: $c-primary-btn;

    &,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none; /* [4] */
        color: $c-primary-btn-text;
    }

    &:hover,
    &:focus {
        background-color: $c-primary-btn-hover;
    }

}

.c-btn--secondary {
    background-color: $c-secondary-btn;

    &,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: $c-secondary-btn-text;
    }

    &.is-active,
    &:hover,
    &:focus {
        background-color: $c-secondary-btn-hover;
        color: $c-secondary-btn-hover-text;
    }

}

.c-btn--tertiary {
    background-color: $c-tertiary-btn;

    &,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: $c-tertiary-btn-text;
    }

    &:hover,
    &:focus {
        background-color: $c-tertiary-btn-hover;
    }

}

.c-btn--blocky {
    border: 1px solid $c-border;
    border-radius: 0;
    background-color: $c-background;
    padding: ($inuit-global-spacing-unit-small - 1px) ($inuit-global-spacing-unit-large - 1px);

    &,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: $c-text;
    }

    &:hover,
    &:focus {
        background-color: $c-accent;
        color: $c-white;
    }

}





/* Size variants
========================================================================== */

.c-btn--tiny {
    padding: $inuit-global-spacing-unit-tiny/2 $inuit-global-spacing-unit-small;
}

.c-btn--small {
  padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
}

.c-btn--large {
  padding: $inuit-global-spacing-unit $inuit-global-spacing-unit-large;
}





/* Ghost buttons
========================================================================== */

/**
* Ghost buttons have see-through backgrounds and are bordered.
*/

$btn-ghost-border-width: 1px;

.c-btn--ghost {
    border: $btn-ghost-border-width solid currentColor;
    padding: ($inuit-global-spacing-unit-small - $btn-ghost-border-width) ($inuit-global-spacing-unit - $btn-ghost-border-width);

    &,
    &:hover,
    &:active,
    &:focus {
        background: none;
    }

    &.c-btn--tiny {
        padding: ($inuit-global-spacing-unit-tiny/2 - $btn-ghost-border-width) ($inuit-global-spacing-unit-small - $btn-ghost-border-width);
    }

    &.c-btn--small {
        padding: ($inuit-global-spacing-unit-tiny - $btn-ghost-border-width) ($inuit-global-spacing-unit-small - $btn-ghost-border-width);
    }

    &.c-btn--large {
        padding: ($inuit-global-spacing-unit - $btn-ghost-border-width) ($inuit-global-spacing-unit-large - $btn-ghost-border-width);
    }

    &.c-btn--primary {
        color: $c-primary-btn;

        &:hover,
        &:focus {
            color: $c-primary-btn-hover;
        }

    }

    &.c-btn--secondary {
        color: $c-textmuted;

        &:hover,
        &:focus {
            color: $c-secondary-btn-hover;
        }

    }

    &.c-btn--tertiary {
        color: $c-tertiary-btn;
        opacity: .5;

        &:hover,
        &:focus {
            color: $c-tertiary-btn-hover;
            opacity: .6;
        }

    }

}


/* Custom
========================================================================== */

.c-btn--icon {
    > span {
        font-size: 128.6%;
    }
}

.c-btn--bigicon {
    padding-top: 0;
    padding-bottom: 0;

    > span {
        line-height: $unit-small * 2 + $inuit-global-line-height - 2px;
        font-size: $inuit-global-font-size * 2;
    }
}

.c-btn--square {
    padding-right: unset;
    padding-left: unset;
    width: $unit-small * 2 + $inuit-global-line-height;

    &.c-btn--small {
        width: $unit-tiny * 2 + $inuit-global-line-height;
    }

    &.c-btn--large {
        width: $unit * 2 + $inuit-global-line-height;
    }
}

.c-btn--wall {
    height: 100%;
}

.c-btn--edgy {
    border-radius: 0;
}

.c-btn--right {
    border-radius: 0 $global-radius $global-radius 0;
}

.c-btn--left {
    border-radius: $global-radius 0 0 $global-radius;
}

.c-btn--none {
    background-color: transparent;
    padding: $inuit-global-spacing-unit;

    &,
    &:hover,
    &:active,
    &:focus {
        background-color: transparent;
    }

    &:hover,
    &:focus {
        background-color: $c-border;
    }
}
