/* ==========================================================================
   #SLIDE
   ========================================================================== */

.c-slide {
    position: relative;
    background-image: url("../images/fpo_hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    overflow: hidden;

    .is-entering & {
        animation: $slide-transition ease-in-out c-slide--enter;
    }

    .is-leaving & {
        animation: $slide-transition ease-in-out c-slide--leave;
    }
}

    .c-slide__link {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .c-slide__body {
        padding: $unit-large;
        text-align: center;

        &--full {
            padding: 0;
            height: 100%;
        }
    }

        .c-slide__hero {
            position: relative;
            z-index: 30;
        }

            .c-slide__hero__content {
                padding: $unit-huge;
            }

            /*
             * 1. vertically center list in container
             * 2. horizontally align list with rest of page
             */
            .c-slide__hero__medialist {
                display: flex; /* 1 */
                margin-left: -$unit; /* 2 */
                background-color: rgba($c-white, .7);
                padding: 0 $unit;
                text-align: left;
                align-items: center; /* 1 */
            }



@keyframes c-slide--enter {
    0% {
        transform: translateX(-70%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes c-slide--leave {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-70%);
    }
}
