/* ==========================================================================
   #MEDIAITEM
   ========================================================================== */

.c-medialist {
    width: 100%;
}

    .c-medialist__title {
    }

    .c-medialist__list {
        margin: 0;
        list-style: none;
    }
