/* ==========================================================================
   #MEDIAITEM
   ========================================================================== */

.c-medialist {
    width: 100%;
}

    .c-medialist__title {
        padding-left: $unit-small;
    }

    .c-medialist__list {
        list-style: none;
        margin: 0;
    }
