/* ==========================================================================
   #FOMRS
   ========================================================================== */

.c-form {
    &--large {
        @include inuit-font-size(16px);
    }

    &--huge {
        @include inuit-font-size(18px);
    }
}

    /*
     * 1. Don't break button from input
     * 2. if 100% width is reached save exactly the space for a button with icon
     */
    .c-form__input-with-btn {
        white-space: nowrap; /* 1 */

        .c-form__input {
            margin-right: -$unit-small;
            padding-right: $unit;
            max-width: calc(100% - 50px); /* 2 */
        }

        .c-form__btn {
            border-radius: 0 $global-radius $global-radius 0;
            padding: $unit-tiny $unit-small;
            vertical-align: top;
            line-height: 1.15;
            display: inline-block;
        }
    }

    .c-form__input,
    .c-form__btn {
        .c-form--large & {
            padding: $unit-small $unit;
        }

        .c-form--huge & {
            padding: $unit $unit-large;
        }
    }
