<form class="c-form {{ styleModifier }}" method="post" action="#">
    <div class="c-form__input-with-btn">
        <input class="c-form__input" type="text" name="field" id="field" placeholder="{{placeholder}}">
        <button class="c-form__btn c-btn c-btn--tertiary" type="submit" for="field" value="Button">
            {{# btnIcon }}<span class="{{btnIcon}} u-hidden@from-tablet"></span>{{/ btnIcon }}
            <span class="u-hidden@until-tablet">{{btnText}}</span>
        </button>
    </div>
</form>
