<form class="c-search-bar {{ styleModifier }}" method="get" id="searchform" action="#">
    <input class="c-search-bar__input" type="text" name="search" id="search" placeholder="Videoarchiv durchsuchen ...">
    <button class="c-btn c-search-bar__btn" type="submit" for="search" value="Suche"><span class="u-ic u-ic-search"></span></button>
</form>
