<div class="o-grid o-grid--h50u {{ styleModifier }}">
    <div class="o-grid__item o-grid__item--hero">
        {{# article1 }}
            {{> molecules-post-preview:c-post-preview--hero c-post-preview--description }}
        {{/ article1 }}
    </div>
    <div class="o-grid__item">
        {{# article2 }}
            {{> molecules-post-preview }}
        {{/ article2 }}
    </div>
    <div class="o-grid__item">
        {{# article3 }}
            {{> molecules-post-preview }}
        {{/ article3 }}
    </div>
</div>
