<h3 class="u-h4">{{title}}</h3>
<ul class="o-list-bare {{# showMore? }}u-show-more u-show-more--list{{/ showMore? }}">
    {{# items }}
    <li class="u-hover {{# checked? }}u-active{{/ checked? }}">
        <button class="c-link c-link--touch">
            <div class="u-truncate u-mr">
                {{# checked? }}<span class="u-ic-checkbox_checked"></span>{{/ checked? }}
                {{^ checked? }}<span class="u-ic-checkbox"></span>{{/ checked? }}
                {{label}}
            </div>
            <small class="c-link__float-right u-smaller u-textmuted">{{count}}</small>
        </button>
    </li>
    {{/ items }}
</ul>
{{# showMore? }}
<button class="c-btn c-btn--ghost c-btn--subtle c-btn--tiny jsToggle"
    data-target=".u-show-more" data-class="is-visible">
    <span>
        <span class="u-ic-plus"></span>
        <small>mehr anzeigen</small>
    </span>
    <span class="u-hidden">
        <span class="u-ic-minus"></span>
        <small>verbergen</small>
    </span>
</button>
{{/ showMore? }}
