<section class="c-medialist {{ styleModifier }}">
    <h2 class="c-medialist__title">
        <a href="#">{{ title }}</a>
    </h2>

    <ul class="c-medialist__list">
    	{{# medialist }}
    	<li class="c-medialist__item">
            {{> molecules-mediaitem }}
        </li>
    	{{/ medialist }}
    </ul>
</section>
