<div class="o-overflow is-left {{ styleModifier }}">

    <ul class="o-layout o-layout--overflow o-overflow__content" data-space-between="21">

        {{# promoList }}
        <li class="o-layout__item u-min-220 u-1/5 u-transition jsFadeSiblings">
            {{> molecules-media-promo }}
        </li>
        {{/ promoList }}

    </ul><!--end tout-list-->

    <div class="o-overflow__nav o-overflow__nav--left">
        <button class="c-btn c-btn--icon c-btn--tertiary c-btn--small c-btn--right c-btn--wall jsNavLeft">
            <span class="u-ic-keyboard_arrow_left"></span>
        </button>
    </div>

    <div class="o-overflow__nav o-overflow__nav--right">
        <button class="c-btn c-btn--icon c-btn--tertiary c-btn--small c-btn--left c-btn--wall jsNavRight">
            <span class="u-ic-keyboard_arrow_right"></span>
        </button>
    </div>

</div>
