<div id="{{quoteslider.id}}" class="c-slider c-slider--quote {{ styleModifier }} is-automatic">

    <div class="c-slider__control c-slider__control--left">
        <button class="c-btn c-btn--icon c-btn--tertiary c-btn--left c-slider__btn jsSliderBtn" data="previous">
            <span class="u-ic-keyboard-arrow-left"></span>
        </button>
    </div>

    <div class="c-slider__control c-slider__control--right">
        <button class="c-btn c-btn--icon c-btn--tertiary c-btn--right c-slider__btn jsSliderBtn" data="next">
            <span class="u-ic-keyboard-arrow-right"></span>
        </button>
    </div>

    <ul class="c-slider__list jsSliderList">

        {{# quoteslider.slides }}

        <li id="{{quoteslider.id}}Slide{{id}}" class="c-slider__item">

            {{> molecules-quote-slide }}

        </li>

        {{/ quoteslider.slides }}

    </ul>

</div>
