<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #4c6dff;"></span>
		<span class="sg-label">
			$c-brand-primary<br />
			#4c6dff
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #2acde7;"></span>
		<span class="sg-label">
			$c-brand-secondary<br />
			#2acde7
		</span>
	</li>
</ul>
