<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #ffffff;"></span>
        <span class="sg-label">
            $c-white <br />
            #ffffff
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #fbfbfa;"></span>
        <span class="sg-label">
            $c-gray-1 <br />
            #fbfbfa
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #f0f0f0;"></span>
        <span class="sg-label">
            $c-gray-2 <br />
            #f0f0f0
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #e8e8e8;"></span>
        <span class="sg-label">
            $c-gray-3 <br />
            #e8e8e8
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #b6b6b6;"></span>
        <span class="sg-label">
            $c-gray-4 <br />
            #b6b6b6
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #666666;"></span>
        <span class="sg-label">
            $c-gray-5 <br />
            #666666
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #333333;"></span>
        <span class="sg-label">
            $c-gray-6 <br />
            #333333
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #262626;"></span>
        <span class="sg-label">
            $c-gray-7 <br />
            #262626
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #000000;"></span>
        <span class="sg-label">
            $c-black <br />
            #000000
        </span>
    </li>
</ul>
