<ul class="sg-icons">
    <li><span class="u-ic-add_box"></span></li>
    <li><span class="u-ic-add_circle"></span></li>
    <li><span class="u-ic-attach_file"></span></li>
    <li><span class="u-ic-attach_money"></span></li>
    <li><span class="u-ic-autorenew"></span></li>
    <li><span class="u-ic-block"></span></li>
    <li><span class="u-ic-cached"></span></li>
    <li><span class="u-ic-cancel"></span></li>
    <li><span class="u-ic-chat"></span></li>
    <li><span class="u-ic-chat_bubble"></span></li>
    <li><span class="u-ic-chat_bubble_outline"></span></li>
    <li><span class="u-ic-check"></span></li>
    <li><span class="u-ic-check_circle"></span></li>
    <li><span class="u-ic-control_point"></span></li>
    <li><span class="u-ic-copyright"></span></li>
    <li><span class="u-ic-create_new_folder"></span></li>
    <li><span class="u-ic-crop_original"></span></li>
    <li><span class="u-ic-dehaze"></span></li>
    <li><span class="u-ic-delete_forever"></span></li>
    <li><span class="u-ic-desktop_mac"></span></li>
    <li><span class="u-ic-fast_forward"></span></li>
    <li><span class="u-ic-fast_rewind"></span></li>
    <li><span class="u-ic-favorite"></span></li>
    <li><span class="u-ic-favorite_border"></span></li>
    <li><span class="u-ic-file_upload"></span></li>
    <li><span class="u-ic-folder_open"></span></li>
    <li><span class="u-ic-fullscreen"></span></li>
    <li><span class="u-ic-fullscreen_exit"></span></li>
    <li><span class="u-ic-group_add"></span></li>
    <li><span class="u-ic-hd"></span></li>
    <li><span class="u-ic-help"></span></li>
    <li><span class="u-ic-help_outline"></span></li>
    <li><span class="u-ic-high_quality"></span></li>
    <li><span class="u-ic-highlight_off"></span></li>
    <li><span class="u-ic-home"></span></li>
    <li><span class="u-ic-hourglass_full"></span></li>
    <li><span class="u-ic-import_export"></span></li>
    <li><span class="u-ic-info"></span></li>
    <li><span class="u-ic-info_outline"></span></li>
    <li><span class="u-ic-insert_drive_file"></span></li>
    <li><span class="u-ic-label"></span></li>
    <li><span class="u-ic-label_outline"></span></li>
    <li><span class="u-ic-language"></span></li>
    <li><span class="u-ic-laptop"></span></li>
    <li><span class="u-ic-lightbulb_outline"></span></li>
    <li><span class="u-ic-local_atm"></span></li>
    <li><span class="u-ic-local_offer"></span></li>
    <li><span class="u-ic-lock"></span></li>
    <li><span class="u-ic-lock_open"></span></li>
    <li><span class="u-ic-lock_outline"></span></li>
    <li><span class="u-ic-menu2"></span></li>
    <li><span class="u-ic-mic"></span></li>
    <li><span class="u-ic-mic_none"></span></li>
    <li><span class="u-ic-mode_edit"></span></li>
    <li><span class="u-ic-more_horiz"></span></li>
    <li><span class="u-ic-more_vert"></span></li>
    <li><span class="u-ic-mouse"></span></li>
    <li><span class="u-ic-music_note"></span></li>
    <li><span class="u-ic-note_add"></span></li>
    <li><span class="u-ic-notifications"></span></li>
    <li><span class="u-ic-notifications_active"></span></li>
    <li><span class="u-ic-notifications_none"></span></li>
    <li><span class="u-ic-notifications_off"></span></li>
    <li><span class="u-ic-open_in_new"></span></li>
    <li><span class="u-ic-open_with"></span></li>
    <li><span class="u-ic-pause"></span></li>
    <li><span class="u-ic-pause_circle_filled"></span></li>
    <li><span class="u-ic-pause_circle_outline"></span></li>
    <li><span class="u-ic-people"></span></li>
    <li><span class="u-ic-person"></span></li>
    <li><span class="u-ic-person_add"></span></li>
    <li><span class="u-ic-phone"></span></li>
    <li><span class="u-ic-phone_iphone"></span></li>
    <li><span class="u-ic-photo"></span></li>
    <li><span class="u-ic-photo_camera"></span></li>
    <li><span class="u-ic-pin_drop"></span></li>
    <li><span class="u-ic-play_arrow"></span></li>
    <li><span class="u-ic-play_circle_filled"></span></li>
    <li><span class="u-ic-play_circle_outline"></span></li>
    <li><span class="u-ic-priority_high"></span></li>
    <li><span class="u-ic-public"></span></li>
    <li><span class="u-ic-redo"></span></li>
    <li><span class="u-ic-refresh"></span></li>
    <li><span class="u-ic-report"></span></li>
    <li><span class="u-ic-restore"></span></li>
    <li><span class="u-ic-room"></span></li>
    <li><span class="u-ic-rss_feed"></span></li>
    <li><span class="u-ic-sentiment_dissatisfied"></span></li>
    <li><span class="u-ic-sentiment_neutral"></span></li>
    <li><span class="u-ic-sentiment_satisfied"></span></li>
    <li><span class="u-ic-sentiment_very_dissatisfied"></span></li>
    <li><span class="u-ic-sentiment_very_satisfied"></span></li>
    <li><span class="u-ic-settings"></span></li>
    <li><span class="u-ic-settings_applications"></span></li>
    <li><span class="u-ic-settings_overscan"></span></li>
    <li><span class="u-ic-skip_next"></span></li>
    <li><span class="u-ic-skip_previous"></span></li>
    <li><span class="u-ic-star"></span></li>
    <li><span class="u-ic-star_border"></span></li>
    <li><span class="u-ic-star_half"></span></li>
    <li><span class="u-ic-stay_primary_landscape"></span></li>
    <li><span class="u-ic-stay_primary_portrait"></span></li>
    <li><span class="u-ic-subdirectory_arrow_left"></span></li>
    <li><span class="u-ic-subdirectory_arrow_right"></span></li>
    <li><span class="u-ic-subject"></span></li>
    <li><span class="u-ic-subscriptions"></span></li>
    <li><span class="u-ic-swap_horiz"></span></li>
    <li><span class="u-ic-swap_vertical_circle"></span></li>
    <li><span class="u-ic-sync_disabled"></span></li>
    <li><span class="u-ic-sync_problem"></span></li>
    <li><span class="u-ic-tag_faces"></span></li>
    <li><span class="u-ic-thumb_down"></span></li>
    <li><span class="u-ic-thumb_up"></span></li>
    <li><span class="u-ic-timer"></span></li>
    <li><span class="u-ic-toc"></span></li>
    <li><span class="u-ic-translate"></span></li>
    <li><span class="u-ic-trending_up"></span></li>
    <li><span class="u-ic-tune"></span></li>
    <li><span class="u-ic-turned_in"></span></li>
    <li><span class="u-ic-turned_in_not"></span></li>
    <li><span class="u-ic-unfold_less"></span></li>
    <li><span class="u-ic-unfold_more"></span></li>
    <li><span class="u-ic-update"></span></li>
    <li><span class="u-ic-videocam_off"></span></li>
    <li><span class="u-ic-visibility2"></span></li>
    <li><span class="u-ic-visibility_off"></span></li>
    <li><span class="u-ic-volume_down"></span></li>
    <li><span class="u-ic-volume_mute"></span></li>
    <li><span class="u-ic-volume_off"></span></li>
    <li><span class="u-ic-volume_up"></span></li>
    <li><span class="u-ic-vpn_key"></span></li>
    <li><span class="u-ic-watch_later"></span></li>
    <li><span class="u-ic-wifi_tethering"></span></li>
    <li><span class="u-ic-zoom_in"></span></li>
    <li><span class="u-ic-zoom_out"></span></li>
    <li><span class="u-ic-zoom_out_map"></span></li>
    <li><span class="u-ic-warning"></span></li>
    <li><span class="u-ic-schedule"></span></li>
    <li><span class="u-ic-date"></span></li>
    <li><span class="u-ic-comment"></span></li>
    <li><span class="u-ic-download"></span></li>
    <li><span class="u-ic-visibility"></span></li>
    <li><span class="u-ic-reply"></span></li>
    <li><span class="u-ic-share"></span></li>
    <li><span class="u-ic-folder"></span></li>
    <li><span class="u-ic-plus"></span></li>
    <li><span class="u-ic-minus"></span></li>
    <li><span class="u-ic-checkbox-indeterminate"></span></li>
    <li><span class="u-ic-checkbox"></span></li>
    <li><span class="u-ic-checkbox-checked"></span></li>
    <li><span class="u-ic-mail"></span></li>
    <li><span class="u-ic-send"></span></li>
    <li><span class="u-ic-arrow_back"></span></li>
    <li><span class="u-ic-arrow_downward"></span></li>
    <li><span class="u-ic-arrow_forward"></span></li>
    <li><span class="u-ic-arrow_upward"></span></li>
    <li><span class="u-ic-close"></span></li>
    <li><span class="u-ic-closed_caption"></span></li>
    <li><span class="u-ic-headset"></span></li>
    <li><span class="u-ic-link"></span></li>
    <li><span class="u-ic-keyboard_arrow_down"></span></li>
    <li><span class="u-ic-keyboard_arrow_left"></span></li>
    <li><span class="u-ic-keyboard_arrow_right"></span></li>
    <li><span class="u-ic-keyboard_arrow_up"></span></li>
    <li><span class="u-ic-menu"></span></li>
    <li><span class="u-ic-search"></span></li>
    <li><span class="u-ic-videocam"></span></li>
    <li><span class="u-ic-creative-commons-sharealike"></span></li>
    <li><span class="u-ic-creative-commons-noncommercial-us"></span></li>
    <li><span class="u-ic-creative-commons-noncommercial-eu"></span></li>
    <li><span class="u-ic-creative-commons-noderivs"></span></li>
    <li><span class="u-ic-creative-commons-attribution"></span></li>
    <li><span class="u-ic-creative-commons"></span></li>
    <li><span class="u-ic-facebook"></span></li>
    <li><span class="u-ic-youtube"></span></li>
</ul>
