<ul class="sg-icons">
    <li>
        <span class="sg-icon u-ic-arrow-upward"></span>
        <span class="sg-label">
            .u-ic-arrow-upward
        </span>
    </li>
    <li>
        <span class="sg-icon u-ic-arrow-forward"></span>
        <span class="sg-label">
            .u-ic-arrow-forward
        </span>
    </li>
    <li>
        <span class="sg-icon u-ic-arrow-downward"></span>
        <span class="sg-label">
            .u-ic-arrow-downward
        </span>
    </li>
    <li>
        <span class="sg-icon u-ic-arrow-back"></span>
        <span class="sg-label">
            .u-ic-arrow-back
        </span>
    </li>
    <li>
        <span class="sg-icon u-ic-headset"></span>
        <span class="sg-label">
            .u-ic-headset
        </span>
    </li>
    <li>
        <span class="sg-icon u-ic-keyboard-arrow-up"></span>
        <span class="sg-label">
            .u-ic-keyboard-arrow-up
        </span>
    </li>
    <li>
        <span class="sg-icon u-ic-keyboard-arrow-right"></span>
        <span class="sg-label">
            .u-ic-keyboard-arrow-right
        </span>
    </li>
    <li>
        <span class="sg-icon u-ic-keyboard-arrow-down"></span>
        <span class="sg-label">
            .u-ic-keyboard-arrow-down
        </span>
    </li>
    <li>
        <span class="sg-icon u-ic-keyboard-arrow-left"></span>
        <span class="sg-label">
            .u-ic-keyboard-arrow-left
        </span>
    </li>
    <li>
        <span class="sg-icon u-ic-menu"></span>
        <span class="sg-label">
            .u-ic-menu
        </span>
    </li>
    <li>
        <span class="sg-icon u-ic-search"></span>
        <span class="sg-label">
            .u-ic-search
        </span>
    </li>
    <li>
        <span class="sg-icon u-ic-videocam"></span>
        <span class="sg-label">
            .u-ic-videocam
        </span>
    </li>

</ul>
