<div id="siteWrapper" class="c-site-wrapper">

    {{> organisms-header }}

    <main role="main" class="o-wrapper">

        {{> molecules-tabs:o-break-wrapper@until-tablet }}

        <section class="o-layout o-layout--flush u-margin-top">
            <div class="o-layout__item u-1/4 u-hidden@until-tablet">
                <h2 class="u-margin-left">Filter</h2>
            </div>
            <div class="o-layout__item u-3/4@tablet">

                <div class="o-pack">
                    <div class="o-pack__item">
                        <h2 class="u-margin-left">Videos</h2>
                    </div>
                    <div class="o-pack__item">

                    </div>
                </div>

                <div class="u-border-left u-padding-left">
                    {{> organisms-medialist:c-medialist--notitle }}
                </div>

                {{> molecules-pagination:u-margin-left u-margin-top-large }}

            </div>
        </section>

    </main>

    {{> organisms-footer:u-margin-top-huge }}

</div><!-- .c-site-wrapper -->



{{> organisms-mobile-nav-flyin }}
