<div id="siteWrapper" class="c-site-wrapper">

    {{> organisms-header }}

    <main role="main" class="o-wrapper">

        {{> molecules-tabs:u-break-wrapper@until-tablet }}

        <section class="o-layout o-layout--flush u-mt u-break-wrapper@until-tablet">
            <aside class="o-layout__item o-owl u-1/4 u-hidden-until@tablet">

                <h2 class="u-ml u-mb+">Filter</h2>

                <div class="o-owl o-owl--small u-border-left u-ph u-pr+@desktop">
                    {{# filter1 }}
                        {{> organisms-checklist }}
                    {{/ filter1 }}
                </div>

                <div class="o-owl o-owl--small u-border-left u-ph u-pr+@desktop">
                    {{# filter2 }}
                        {{> organisms-checklist }}
                    {{/ filter2 }}
                </div>

                <div class="o-owl o-owl--small u-border-left u-ph u-pr+@desktop">
                    {{# filter3 }}
                        {{> organisms-checklist }}
                    {{/ filter3 }}
                </div>

                <div class="o-owl o-owl--small u-border-left u-ph u-pr+@desktop">
                    {{# filter4 }}
                        {{> organisms-checklist }}
                    {{/ filter4 }}
                </div>

            </aside>
            <div class="o-layout__item u-3/4@tablet">


                <header class="u-pl u-mb+">
                    <div class="o-pack o-pack--auto o-pack--middle">
                        <div class="o-pack__item">
                            <h2 class="u-mb0">{{title}}</h2>
                        </div>
                        <div class="o-pack__item u-text-right u-hidden-until@tablet">
                            {{> molecules-sorting }}
                        </div>
                        <div class="o-pack__item u-text-right u-pr u-hidden-from@tablet">
                            <button class="c-btn c-btn--secondary jsFlyinBtn"
                                data-target="filterFlyin" data-action="open">
                                Filter
                            </button>
                        </div>
                    </div>

                    {{> molecules-sorting-mobile:u-mt u-hidden-from@tablet }}

                </header>

                <div class="u-border-left u-ph">

                    {{> organisms-medialist:c-medialist--notitle }}

                    {{> molecules-pagination:u-mt+ }}

                </div>

            </div>
        </section>

    </main>

    {{> organisms-footer:u-mt++ }}

</div><!-- .c-site-wrapper -->



{{> organisms-mobile-nav-flyin }}

<aside id="filterFlyin" class="c-flyin">

    <div class="c-flyin__inner">

        <header class="c-flyin__header">
            <h2 class="c-flyin__title">Filter</h2>
            <button class="c-btn c-btn--blocky c-btn--bigicon c-btn--square c-flyin__btn jsFlyinBtn"
                data-target="filterFlyin" data-action="close">
                <span class="u-ic-close"></span>
            </button>
        </header>

        <div class="o-owl o-owl--small c-flyin__content">

            {{> organisms-checklist }}

            <hr class="u-break-wrapper u-mt">

            {{> organisms-checklist }}

            <hr class="u-break-wrapper u-mt">

            {{> organisms-checklist }}

        </div>

    </div>

</aside><!--end c-flyin-->
