<div id="siteWrapper" class="c-site-wrapper">

    {{> organisms-header }}

    <main role="main" class="o-wrapper">

        {{> molecules-tabs:u-break-wrapper@until-tablet u-4/5@tablet u-3/4@desktop u-box-center }}

        <section class="o-layout o-layout--center u-mt">

            <div class="o-layout__item u-4/5@tablet u-3/4@desktop">


                <header class="u-mb+">
                    <div class="o-pack o-pack--auto o-pack--middle">
                        <div class="o-pack__item">
                            <h2 class="u-mb0">{{title}}</h2>
                        </div>
                        <div class="o-pack__item u-text-right u-hidden-until@tablet">
                            {{> organisms-sorting }}
                        </div>
                    </div>

                    {{> molecules-sorting-mobile:u-mt u-hidden-from@tablet }}

                </header>

                {{# 2columns? }}
                <div class="o-layout o-layout--large">
                    <div class="o-layout__item u-1/2@tablet">
                        {{# medialist1 }}
                        {{> organisms-medialist }}
                        {{/ medialist1 }}
                    </div>
                    <div class="o-layout__item u-1/2@tablet">
                        {{# medialist2 }}
                        {{> organisms-medialist }}
                        {{/ medialist2 }}
                    </div>
                </div>
                {{/ 2columns? }}

                {{^ 2columns? }}
                    {{# medialist1 }}
                    {{> organisms-medialist }}
                    {{/ medialist1 }}
                {{/ 2columns? }}

                {{# pagination? }}
                    {{> molecules-pagination:u-mt+ }}
                {{/ pagination? }}

            </div>

        </section>

    </main>

    {{> organisms-footer:u-mt++ }}

</div><!-- .c-site-wrapper -->



{{> organisms-mobile-nav-flyin }}
