{{> organisms-header }}
<main role="main">

    {{# slider }}
	   {{> organisms-slider }}
    {{/ slider }}

    <section class="o-wrapper u-margin-top">
        {{> organisms-promo-list }}
    </section>

    <section class="o-wrapper u-margin-top-large">
        <div class="o-layout o-layout--large">
            <div class="o-layout__item u-1/3">
                {{> organisms-medialist }}
            </div>
            <div class="o-layout__item u-1/3">
                {{> organisms-medialist }}
            </div>
            <div class="o-layout__item u-1/3">
                {{> organisms-medialist }}
            </div>
        </div>
    </section>

    {{# quoteslider }}
       {{> organisms-quote-slider:u-margin-top-huge }}
    {{/ quoteslider }}

</main>
{{> organisms-footer }}
