<div id="siteWrapper" class="c-site-wrapper">

    {{> organisms-header }}

    <main role="main">

        {{# slider }}
        <section class="c-section c-section--flush">
           {{> organisms-slider }}
        </section>
        {{/ slider }}

        <section class="o-wrapper o-wrapper--no-padding c-section u-mt">
            {{> organisms-promo-list:o-overflow--padding }}
        </section>

        <section class="o-wrapper c-section">

            {{> organisms-medialist:u-hidden-from@tablet }}

            <div class="o-layout o-layout--large u-hidden-until@tablet">
                <div class="o-layout__item u-1/3@desktop u-1/2@tablet u-1/1">
                    {{# medialist1 }}
                        {{> organisms-medialist-with-title }}
                    {{/ medialist1 }}
                </div>
                <div class="o-layout__item u-1/3@desktop u-1/2@tablet u-hidden-until@tablet">
                    {{# medialist2 }}
                        {{> organisms-medialist-with-title }}
                    {{/ medialist2 }}
                </div>
                <div class="o-layout__item u-1/3 u-hidden-until@desktop">
                    {{# medialist3 }}
                        {{> organisms-medialist-with-title }}
                    {{/ medialist3 }}
                </div>
            </div>

        </section>

        {{# quoteslider }}
        <section class="c-section">
           {{> organisms-quote-slider }}
        </section>
        {{/ quoteslider }}

        <section class="o-wrapper c-section">
            <h2><a class="c-link c-link--dotted" href="#">Blog</a></h2>
            {{> organisms-article-grid }}
        </section>

        <section class="c-section c-section--alt u-spacer-top">
           {{> organisms-newsletter-form }}
        </section>

    </main>

    {{> organisms-footer }}

</div><!-- .c-site-wrapper -->


{{> organisms-mobile-nav-flyin }}
