

<main role="main">

    <section class="o-wrapper o-wrapper--no-padding u-margin-top">
        {{> organisms-promo-list:is-left }}
        {{> organisms-promo-list:is-middle }}
        {{> organisms-promo-list:is-right }}
    </section>

</main>


