<div id="siteWrapper" class="c-site-wrapper">

    {{> organisms-header }}

    <main role="main" class="u-mb u-mb++@tablet">

        <div id="background-box" class="c-header-bg u-white u-pt+ u-pb+" style="background-image: url('{{background}}');">
            <div class="o-wrapper">
                <div class="u-box-center u-3/4@tablet u-2/3@desktop">

                    <a class="c-link c-link--dotted c-link--white" href="{{link.pages-archive-serien}}">
                        <span class="u-ic-arrow_back"></span> Alle Serien anzeigen
                    </a>

                    {{> molecules-series:u-mt }}

                </div>
            </div>
        </div>

        <div class="o-wrapper u-mt">
            <div class="u-box-center u-3/4@tablet u-2/3@desktop">

                {{> organisms-sorting:u-text-right}}

                {{# medialist1 }}
                    {{> organisms-medialist:u-mt }}
                {{/ medialist1 }}

                {{> molecules-pagination:u-mt+ }}

            </div>
        </div>

    </main>

    {{> organisms-footer }}

</div><!-- .c-site-wrapper -->


{{> organisms-mobile-nav-flyin }}
