<div id="siteWrapper" class="c-site-wrapper">

    {{> organisms-header }}

    <main role="main" class="u-pv+">

        <div id="background-box">
            <div class="o-wrapper">
                <div class="u-box-center u-2/3@tablet">
                    <header class="u-mb+">
                        <h1 class="u-h2 u-mb0">Sola Veritas: 6. Magdeburg und Eisenach (1497-1498)</h1>
                        <a href="#">Christopher Kramp</a> &middot; <a href="#">Sola Veritas – Die Wahre Chronik der Reformation</a>
                    </header>

                    {{> molecules-video }}
                </div>
            </div>
        </div>

        <div class="o-wrapper">
            <div class="u-box-center u-2/3@tablet">

                <div class="o-pack o-pack--middle o-pack--auto u-mv">
                    <div class="o-pack__item">
                        Veröffentlicht am <strong>29. Mai 2017</strong>
                    </div>
                    <div class="o-pack__item">
                        <span class="u-ic-visibility"></span> 297 Klicks
                    </div>
                    <div class="o-pack__item u-text-center">
                        {{# download-button }}
                            {{> molecules-dropdown-button:u-text-left }}
                        {{/ download-button }}
                    </div>
                    <div class="o-pack__item u-text-right">

                        <button id="share-button" class="c-btn c-btn--dropdown c-btn--small c-btn--secondary jsDropdownBtn"
                            aria-haspopup="true" aria-expanded="false">
                            <span class="u-ic-share"></span> Teilen
                        </button>

                        <ul class="c-dropdown c-dropdown--round u-hidden u-text-left jsDropdown"
                            aria-labelledby="share-button" data-placement="bottom-end">

                            <li class="c-dropdown__item">
                                <a class="c-link c-link--block c-link--secondary" href="http://www.facebook.com/sharer/sharer.php?u=#" title="Auf Facebook teilen" target="_blank">
                                    Auf Facebook teilen
                                </a>
                            </li>

                            <li class="c-dropdown__item u-ph u-pv-">
                                <p class="u-mb--">Video-Player in die eigene Website einbetten:</p>
                                <input class="u-1/1" type="text" value="<iframe width=&quot;560&quot; height=&quot;315&quot; src=&quot;http://embed.joelmediatv.de/16245&quot; frameborder=&quot;0&quot; allowfullscreen></iframe>" onclick="this.select()" readonly="readonly">
                            </li>

                        </ul>

                    </div>
                </div>

                <hr/>

                <p class="u-mt+">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nobis neque sunt similique itaque optio quis ipsa eius quod mollitia tenetur quos dicta sed, illum dolore odit, porro odio, deleniti voluptate. Eum unde nulla atque repellat dolores vero quam deserunt incidunt totam ex odit aperiam, ducimus doloribus nam excepturi officiis fugiat vitae omnis ipsum cum asperiores nostrum odio consequuntur. Eius dolore, ea porro. Maiores eum quas, voluptate veniam obcaecati ullam quod sed, hic illo. Error mollitia placeat minima quibusdam quisquam, iure numquam incidunt totam sed! Delectus porro assumenda sequi, nostrum! Nisi quas ipsum necessitatibus, similique facilis accusantium repellendus voluptatum iste.</p>

            </div>
        </div>

    </main>

    {{> organisms-footer }}

</div><!-- .c-site-wrapper -->


{{> organisms-mobile-nav-flyin }}
