<div id="siteWrapper" class="c-site-wrapper">

    {{> organisms-header }}

    <main role="main" class="u-pv+">

        <div>
            <div class="o-wrapper">
                <header class="u-mb+ u-push-1/6@tablet u-2/3@tablet">
                    <h1 class="u-h2 u-mb0">Sola Veritas: 6. Magdeburg und Eisenach (1497-1498)</h1>
                    <a href="#">Christopher Kramp</a> &middot; <a href="#">Sola Veritas – Die Wahre Chronik der Reformation</a>
                </header>

                {{> molecules-video:u-push-1/6@tablet u-2/3@tablet }}
            </div>
        </div>

    </main>

    {{> organisms-footer }}

</div><!-- .c-site-wrapper -->


{{> organisms-mobile-nav-flyin }}
