<div id="siteWrapper" class="c-site-wrapper">

    {{> organisms-header }}

    <main role="main" class="u-mb u-mb++@tablet">

        <div id="background-box" class="c-header-bg u-pt+" style="background-image: url('{{background}}');">
            <div class="o-wrapper">
                <div class="u-box-center u-3/4@tablet u-2/3@desktop">
                    <header class="u-white u-mb u-mb+@tablet">
                        <h1 class="u-h-responsive u-mb0">{{ title }}</h1>
                        <a class="c-link c-link--dotted c-link--white" href="#">Christopher Kramp</a> &middot; <a class="c-link c-link--dotted c-link--white" href="#">Sola Veritas – Die Wahre Chronik der Reformation</a>
                    </header>

                    {{> molecules-video }}
                </div>
            </div>
        </div>

        <div class="o-wrapper">
            <div class="u-box-center u-3/4@tablet u-2/3@desktop">

                <div class="o-pack o-pack--middle o-pack--auto u-mv">
                    <div class="o-pack__item">
                        <span class="u-hidden@until-desktop">Veröffentlicht am</span> <strong>29. Mai 2017</strong>
                    </div>
                    <div class="o-pack__item">
                        <span class="u-ic-visibility"></span> 297 <span class="u-hidden@until-mobile">Klicks</span>
                    </div>
                    <div class="o-pack__item u-text-right">
                        {{# download-button }}
                            {{> molecules-dropdown-button:u-text-left }}
                        {{/ download-button }}
                    </div>
                    <div class="o-pack__item u-text-right u-hidden@until-tablet">
                        {{# share-button }}
                            {{> molecules-dropdown-button:u-text-left }}
                        {{/ share-button }}
                    </div>
                </div>

                <hr/>

                <div class="u-mv+ u-text-center">

                    <div class="u-text-left u-mb- {{# showMore? }}u-show-more{{/ showMore? }}">
                        {{{ htmlText }}}
                    </div>

                    {{# showMore? }}
                    <button class="c-btn c-btn--ghost c-btn--none c-btn--tiny u-ph jsToggle"
                        data-target=".u-show-more" data-class="is-visible">
                        <span>
                            <span class="u-ic-plus"></span> alles anzeigen
                        </span>
                        <span class="u-hidden">
                            <span class="u-ic-minus"></span> verbergen
                        </span>
                    </button>
                    {{/ showMore? }}

                </div>

                <hr/>

                <h2 class="u-h5">
                    <span style="vertical-align: middle;">Nächstes Video</span>
                    <a class="c-btn c-btn--ghost c-btn--secondary c-btn--tiny u-default u-ml-" href="#">Ganze Serie anzeigen</a>
                </h2>

                {{# mediaitem }}
                    {{> molecules-mediaitem:c-mediaitem--standalone }}
                {{/ mediaitem }}

                <hr class="u-mt"/>

                {{# medialist1 }}
                    {{> organisms-medialist }}
                {{/ medialist1 }}

                <hr/>

                {{> molecules-lisence }}

            </div>
        </div>

    </main>

    {{> organisms-footer }}

</div><!-- .c-site-wrapper -->


{{> organisms-mobile-nav-flyin }}
