<aside id="mobileNav" class="c-mobile-nav {{ styleModifier }}">

    <div class="c-mobile-nav__wrapper">

        <header class="c-mobile-nav__header">
            <h2 class="c-mobile-nav__title">Men&uuml;</h2>
            <button class="c-btn c-btn--tertiary c-btn--icon c-btn--ghost"
                name="mobieNavBtn" data="close">
                <span class="u-ic-close"></span>
            </button>
        </header>

        <div>
            {{> molecules-search-form:c-search-bar--mobile u-margin-top u-margin-bottom }}
        </div>

        <hr class="o-break-wrapper"/>

        <nav class="u-margin-bottom">
            <h3 class="u-h5 u-eclipse u-margin-bottom-small">Joel Media</h3>
            <ul class="o-break-wrapper c-mobile-nav__list">
                <li><a class="c-mobile-nav__link u-eclipse" href="#">Livestream</a></li>
                <li><a class="c-mobile-nav__link u-eclipse" href="#">Blog</a></li>
                <li><a class="c-mobile-nav__link u-eclipse" href="#">Das Team</a></li>
                <li><a class="c-mobile-nav__link u-eclipse" href="#">Das Logo</a></li>
                <li><a class="c-mobile-nav__link u-eclipse" href="#">FAQ</a></li>
                <li><a class="c-mobile-nav__link u-eclipse" href="#">Kontakt</a></li>
            </ul>
        </nav>

        <hr class="o-break-wrapper"/>

        <nav class="u-margin-bottom">
            <h3 class="u-h5 u-eclipse u-margin-bottom-small">Videoarchiv</h3>
            <ul class="o-break-wrapper c-mobile-nav__list">
                <li><a class="c-mobile-nav__link u-eclipse" href="#">Videos</a></li>
                <li><a class="c-mobile-nav__link u-eclipse" href="#">Themen</a></li>
                <li><a class="c-mobile-nav__link u-eclipse" href="#">Sprecher</a></li>
                <li><a class="c-mobile-nav__link u-eclipse" href="#">Serien</a></li>
            </ul>
        </nav>

        <hr class="o-break-wrapper"/>

        <nav class="u-margin-bottom">
            <h3 class="u-h5 u-eclipse u-margin-bottom-small">Themenseiten</h3>
            <ul class="o-break-wrapper c-mobile-nav__list">
                <li><a class="c-mobile-nav__link u-eclipse" href="#">Prophetie &amp; Zeitgeschehen</a></li>
                <li><a class="c-mobile-nav__link u-eclipse" href="#">Erweckung &amp; Evangelium</a></li>
                <li><a class="c-mobile-nav__link u-eclipse" href="#">Gesundheit &amp; Familie</a></li>
                <li><a class="c-mobile-nav__link u-eclipse" href="#">Tägliche Andachten</a></li>
                <li><a class="c-mobile-nav__link u-eclipse" href="#">Fragen zur Bibel</a></li>
            </ul>
        </nav>

    </div>

</aside><!--end c-mobile-nav-->
