<div class="o-wrapper {{ styleModifier }}">

    <div>
        {{> molecules-search-form:c-search-bar--mobile u-mv }}
        <hr class="u-break-wrapper u-hidden-from@mobile"/>
    </div>

    <nav class="u-mb u-hidden-from@tablet">
        <h3 class="u-h5 u-truncate u-mb-">Videoarchiv</h3>
        <ul class="u-break-wrapper c-mobile-nav__list">
            <li><a class="c-link c-link--block c-link--primary u-truncate" href="{{link.pages-archive-videos}}">Videos</a></li>
            <li><a class="c-link c-link--block c-link--primary u-truncate" href="{{link.pages-archive-serien}}">Serien</a></li>
            <li><a class="c-link c-link--block c-link--primary u-truncate" href="{{link.pages-archive-sprecher}}">Sprecher</a></li>
            <li><a class="c-link c-link--block c-link--primary u-truncate" href="{{link.pages-archive-themen}}">Themen</a></li>
        </ul>
        <hr class="u-break-wrapper"/>
    </nav>

    <nav class="u-mb">
        <h3 class="u-h5 u-truncate u-mb-">Joel Media</h3>
        <ul class="u-break-wrapper c-mobile-nav__list">
            <li><a class="c-link c-link--block c-link--primary u-truncate" href="{{link.pages-livestream}}">Livestream</a></li>
            <li><a class="c-link c-link--block c-link--primary u-truncate" href="{{link.pages-blog}}">Blog</a></li>
            <li><a class="c-link c-link--block c-link--primary u-truncate" href="{{link.pages-page}}">Das Team</a></li>
            <li><a class="c-link c-link--block c-link--primary u-truncate" href="{{link.pages-page}}">Das Logo</a></li>
            <li><a class="c-link c-link--block c-link--primary u-truncate" href="{{link.pages-page}}">FAQ</a></li>
            <li><a class="c-link c-link--block c-link--primary u-truncate" href="{{link.pages-page}}">Kontakt</a></li>
        </ul>
        <hr class="u-break-wrapper"/>
    </nav>

    <nav class="u-mb u-hidden-from@desktop">
        <h3 class="u-h5 u-truncate u-mb-">Themenseiten</h3>
        <ul class="u-break-wrapper c-mobile-nav__list">
            <li><a class="c-link c-link--block c-link--primary u-truncate" href="{{link.pages-page}}">Prophetie &amp; Zeitgeschehen</a></li>
            <li><a class="c-link c-link--block c-link--primary u-truncate" href="{{link.pages-page}}">Erweckung &amp; Evangelium</a></li>
            <li><a class="c-link c-link--block c-link--primary u-truncate" href="{{link.pages-page}}">Gesundheit &amp; Familie</a></li>
            <li><a class="c-link c-link--block c-link--primary u-truncate" href="{{link.pages-page}}">Tägliche Andachten</a></li>
            <li><a class="c-link c-link--block c-link--primary u-truncate" href="{{link.pages-page}}">Fragen zur Bibel</a></li>
        </ul>
    </nav>

</div>
