<aside id="mobileNav" class="c-flyin {{styleModifier}}">

    <div class="c-flyin__inner">

        <header class="c-flyin__header">
            <h2 class="c-flyin__title">Men&uuml;</h2>
            <button class="c-btn c-btn--blocky c-btn--bigicon c-btn--square c-flyin__btn jsFlyinBtn"
                data-target="mobileNav" data-action="close">
                <span class="u-ic-close"></span>
            </button>
        </header>

        {{> organisms-mobile-nav:u-margin-top }}

    </div>

</aside><!--end .c-flyin-->
