<div class="o-wrapper {{ styleModifier }}">

    <div>
        {{> molecules-search-form:c-search-bar--mobile u-margin-top u-margin-bottom }}
        <hr class="o-break-wrapper u-hidden@from-mobile"/>
    </div>

    <nav class="u-margin-bottom u-hidden@from-tablet">
        <h3 class="u-h5 u-eclipse u-margin-bottom-small">Videoarchiv</h3>
        <ul class="o-break-wrapper c-mobile-nav__list">
            <li><a class="c-link c-link--block c-link--primary u-eclipse" href="#">Videos</a></li>
            <li><a class="c-link c-link--block c-link--primary u-eclipse" href="#">Themen</a></li>
            <li><a class="c-link c-link--block c-link--primary u-eclipse" href="#">Sprecher</a></li>
            <li><a class="c-link c-link--block c-link--primary u-eclipse" href="#">Serien</a></li>
        </ul>
        <hr class="o-break-wrapper"/>
    </nav>

    <nav class="u-margin-bottom">
        <h3 class="u-h5 u-eclipse u-margin-bottom-small">Joel Media</h3>
        <ul class="o-break-wrapper c-mobile-nav__list">
            <li><a class="c-link c-link--block c-link--primary u-eclipse" href="#">Livestream</a></li>
            <li><a class="c-link c-link--block c-link--primary u-eclipse" href="#">Blog</a></li>
            <li><a class="c-link c-link--block c-link--primary u-eclipse" href="#">Das Team</a></li>
            <li><a class="c-link c-link--block c-link--primary u-eclipse" href="#">Das Logo</a></li>
            <li><a class="c-link c-link--block c-link--primary u-eclipse" href="#">FAQ</a></li>
            <li><a class="c-link c-link--block c-link--primary u-eclipse" href="#">Kontakt</a></li>
        </ul>
        <hr class="o-break-wrapper"/>
    </nav>

    <nav class="u-margin-bottom u-hidden@from-desktop">
        <h3 class="u-h5 u-eclipse u-margin-bottom-small">Themenseiten</h3>
        <ul class="o-break-wrapper c-mobile-nav__list">
            <li><a class="c-link c-link--block c-link--primary u-eclipse" href="#">Prophetie &amp; Zeitgeschehen</a></li>
            <li><a class="c-link c-link--block c-link--primary u-eclipse" href="#">Erweckung &amp; Evangelium</a></li>
            <li><a class="c-link c-link--block c-link--primary u-eclipse" href="#">Gesundheit &amp; Familie</a></li>
            <li><a class="c-link c-link--block c-link--primary u-eclipse" href="#">Tägliche Andachten</a></li>
            <li><a class="c-link c-link--block c-link--primary u-eclipse" href="#">Fragen zur Bibel</a></li>
        </ul>
    </nav>

</div>
