<nav class="{{ styleModifier }}" role="navigation" aria-label="Pagination Navigation">

    <ul class="o-list-inline o-list-inline--1pxgap">

        <li class="o-list-inline__item">
            <button class="c-btn c-btn--secondary c-btn--small c-btn--right">
                <span class="u-ic-keyboard-arrow-left"></span>
                Vorherige Seite
            </button>
        </li>

        {{# pages }}
        <li class="o-list-inline__item">
            <button class="c-btn c-btn--secondary c-btn--small c-btn--edgy c-btn--square {{state}}">{{number}}</button>
        </li>
        {{/ pages }}

        <li class="o-list-inline__item">
            <button class="c-btn c-btn--secondary c-btn--small c-btn--left">
                N&auml;chste Seite
                <span class="u-ic-keyboard-arrow-right"></span>
            </button>
        </li>

    </ul><!--end c-primary-nav__list-->

</nav><!--end c-primary-nav-->
