<nav class="c-tabs {{ styleModifier }}">

    <ul class="o-list-bare o-layout o-layout--flush">

        {{# tabs }}
        <li class="o-layout__item u-1/4 c-tabs__item {{state}}">
            <a class="c-tabs__link u-advent-sans u-text-center" href="{{url}}">{{label}}</a>
        </li>
        {{/ tabs }}

    </ul><!--end c-primary-nav__list-->

</nav><!--end c-primary-nav-->
