<article class="c-media-article {{ styleModifier }}">

    <header class="c-media-article__header">
        <a href="{{url}}" class="c-media-article__link">
            <h3 class="c-media-article__title">
                {{title}}
                <br><small class="u-lighter u-hidden-from@tablet" >{{date}}</small>
            </h3>
        </a>
    </header>

    <div class="c-media-article__bg" style="background-image: url('{{image}}')"></div>

    <footer class="c-media-article__footer u-small u-truncate u-hidden-until@tablet">
            <a href="{{author.url}}">{{author.name}}</a>
            &middot; <a href="#">{{date}}</a>
            <span class="u-hidden-until@desktop">
                &middot; <a href="{{category.url}}">{{category.name}}</a>
            </span>
    </footer>
</article>
