<article class="c-post-preview {{ styleModifier }}">

    <div class="c-post-preview__bg" style="background-image: url('{{ image }}')">
        <a href="{{ url }}" class="c-post-preview__clickspace"></a>
    </div>

    <header class="c-post-preview__header">
        <ul class="c-post-preview__meta">
            <li>Christopher Kramp</li>
            <li><span class="u-ic-folder"></span> Allgemein</li>
            <li><span class="u-ic-comment"></span> 3</li>
        </ul>
        <a href="{{ url }}">
        <h3 class="c-post-preview__title">
            <!--<a href="{{ url }}">{{ title }}</a>-->
            {{ title }}
        </h3>
        </a>
    </header>

    <time class="c-post-preview__date u-center" data-time="1507055378"
        datetime="2017-10-03T18:29:38+00:00">
        <span>Dec<br><strong>31</strong><br>2012</span>
    </time>

</article>
