<footer id="footer" class="c-site-footer {{ styleModifier }}" role="contentinfo">

    <h2 class="u-hidden-visually">Footer</h2>

    <section class="o-wrapper u-text-center u-pt u-hidden@from-tablet">
        <a class="c-btn c-btn--secondary" href="#header">
            Zur&uuml;ck zum Anfang <span class="u-ic-arrow-upward"></span>
        </a>
        <hr class="c-site-footer__hr u-mb0"></hr>
    </section>

    <section class="o-wrapper c-site-footer__nav">
        <div class="o-layout o-layout--large">
            <div class="o-layout__item u-3/4@tablet">
                <div class="o-layout">
                    <nav class="o-layout__item u-1/4@desktop u-1/2@mobile">
                        <h3 class="c-site-footer__heading u-eclipse">Joel Media</h3>
                        <ul class="c-site-footer__list">
                            <li><a class="u-eclipse" href="{{link.pages-homepage}}">Home</a></li>
                            <li><a class="u-eclipse" href="#">Livestream</a></li>
                            <li><a class="u-eclipse" href="#">Blog</a></li>
                            <li><a class="u-eclipse" href="#">Das Team</a></li>
                            <li><a class="u-eclipse" href="#">Das Logo</a></li>
                            <li><a class="u-eclipse" href="#">FAQ</a></li>
                            <li><a class="u-eclipse" href="#">Kontakt</a></li>
                        </ul>
                    </nav>
                    <nav class="o-layout__item u-1/4@desktop u-1/2@mobile">
                        <h3 class="c-site-footer__heading u-eclipse">Videoarchiv</h3>
                        <ul class="c-site-footer__list">
                            <li><a class="u-eclipse" href="{{link.pages-archive-videos}}">Videos</a></li>
                            <li><a class="u-eclipse" href="{{link.pages-archive-themen}}">Themen</a></li>
                            <li><a class="u-eclipse" href="{{link.pages-archive-sprecher}}">Sprecher</a></li>
                            <li><a class="u-eclipse" href="{{link.pages-archive-serien}}">Serien</a></li>
                        </ul>
                    </nav>
                    <nav class="o-layout__item u-1/4@desktop u-1/2@mobile">
                        <h3 class="c-site-footer__heading u-eclipse">Themenseiten</h3>
                        <ul class="c-site-footer__list">
                            <li><a class="u-eclipse" href="#">Prophetie &amp; Zeitgeschehen</a></li>
                            <li><a class="u-eclipse" href="#">Erweckung &amp; Evangelium</a></li>
                            <li><a class="u-eclipse" href="#">Gesundheit &amp; Familie</a></li>
                            <li><a class="u-eclipse" href="#">Tägliche Andachten</a></li>
                            <li><a class="u-eclipse" href="#">Fragen zur Bibel</a></li>
                        </ul>
                    </nav>
                    <nav class="o-layout__item u-1/4@desktop u-1/2@mobile">
                        <h3 class="c-site-footer__heading u-eclipse">Joel Media Social</h3>
                        <ul class="c-site-footer__list">
                            <li><a class="u-eclipse" href="http://youtube.com/c/JoelMediaMinistryeV"><span class="u-ic-youtube"></span> YouTube</a></li>
                            <li><a class="u-eclipse" href="https://www.facebook.com/joelmediatv/"><span class="u-ic-facebook"></span> Facebook</a></li>
                        </ul>
                    </nav>
                    <hr class="c-site-footer__hr u-mb+ u-hidden@from-tablet"></hr>
                </div>
            </div>
            <nav class="o-layout__item u-1/4@tablet">
                <h3 class="c-site-footer__heading u-eclipse">Joel Media Projekte</h3>
                <ul class="c-site-footer__list">
                    <li><a class="u-eclipse" href="http://hacksawridge.de">hacksawridge.de</a></li>
                    <li><a class="u-eclipse" href="http://fackelderreformation.de">fackelderreformation.de</a></li>
                    <li><a class="u-eclipse" href="http://weltengeschichte.de">weltengeschichte.de</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="c-site-footer__copyright u-text-center">
        <ul class="c-site-footer__list c-site-footer__list--inline c-site-footer__list--middot u-mb0">
            <li>Joel Media Ministry e.V. &copy; 2017</li>
            <li><a href="#">Spenden</a></li>
            <li><a href="#">Impressum</a></li>
            <li><a href="#">Datenschutzerkl&auml;rung</a></li>
            <li><a href="#">Admin</a></li>
        </ul>
    </section>

</footer><!-- end c-site-footer -->
