<header id="header" class="c-site-header {{ styleModifier }}" role="banner">

    <div class="o-wrapper c-site-header__wrapper">

        <div class="c-site-header__item">
            {{> molecules-branding }}
        </div>

        <div class="c-site-header__item c-site-header__item--double">
            {{> molecules-search-form:c-search-bar--primary }}
        </div>

        <div class="c-site-header__item u-hidden@until-tablet">
            {{> organisms-primary-nav }}
        </div>

        <div class="c-site-header__item">
            {{> atoms-hamburger:c-site-header__hamburger }}
        </div>

    </div>

</header><!-- end c-header -->
