<header id="header" class="c-site-header" role="banner">

    {{> molecules-mobile-nav }}

    <div class="o-wrapper c-site-header__wrapper">

    	<div class="c-site-header__item">
            {{> molecules-branding }}
        </div>

        <div class="c-site-header__item c-site-header__item--double">
            {{> molecules-search-bar }}
        </div>

        <div class="c-site-header__item">
            {{> molecules-primary-nav }}
        </div>

        <div class="c-site-header__item">
            {{> molecules-hamburger }}
        </div>

    </div>

</header><!-- end c-header -->
