<div id="slider" class="c-slider is-automatic">

    <div class="c-slider__control c-slider__control--left">
        <button name="sliderBtn" data="previous" class="c-btn c-btn--icon c-slider__btn c-slider__btn">
            <span class="u-ic-keyboard-arrow-left"></span>
        </button>
    </div>

    <div class="c-slider__control c-slider__control--right">
        <button name="sliderBtn" data="next" class="c-btn c-btn--icon c-slider__btn">
            <span class="u-ic-keyboard-arrow-right"></span>
        </button>
    </div>

    <ul id="sliderNav" class="c-slider__nav">

        {{#slides}}

        <li id="sliderNav{{id}}" data="{{id}}">
            <a class="c-btn c-slider__btn" href="#slide{{id}}">
                <div class="c-slider__btn__fill"></div>
            </a>
        </li>

        {{/slides}}

    </ul>

    <ul id="sliderList" class="c-slider__list">

        {{#slides}}

        <li id="slide{{id}}" class="c-slider__item">

            {{> molecules-slide }}

        </li>

        {{/slides}}

    </ul>
</div>
