<main id="siteWrapper" class="c-site-wrapper">
    <div class="o-box">
        <button class="c-btn c-btn--blocky jsFlyinBtn" data-target="{{id}}" data-action="open">Flyin</button>
    </div>
</main>

<aside id="{{id}}" class="c-flyin {{styleModifier}}">

    <div class="c-flyin__inner">

        <header class="c-flyin__header">
            <h2 class="c-flyin__title">{{title}}</h2>
            <button class="c-btn c-btn--blocky c-btn--bigicon c-btn--square c-flyin__btn jsFlyinBtn"
                data-target="{{id}}" data-action="close">
                <span class="u-ic-close"></span>
            </button>
        </header>

        <div class="c-flyin__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cupiditate consectetur, minima quos quasi, expedita. Sunt cum commodi, dicta qui architecto quis minus ipsam modi.</p>
        </div>

    </div>

</aside><!--end c-flyin-->
