<a class="c-branding {{ styleModifier }}" href="{{ link.pages-homepage }}">
    <div class="c-branding__img">{{> atoms-logo }}</div>
    <div class="c-branding__title">{{ company.name }}</div>
</a><!-- end c-branding -->
