<div class="o-flag {{ styleModifier }}">
    <div class="o-flag__img">
        <img src="/images/by-nc-nd.eu.svg" style="max-width: 100px;">
    </div>
    <div class="o-flag__body u-smaller">
        <h2 class="u-default u-mb0 u-muted">Lizenz</h2>
        Copyright ©2017 Joel Media Ministry e.V.
        <br>Dieses Werk ist lizenziert unter einer Creative Commons Namensnennung - Nicht kommerziell - Keine Bearbeitungen 4.0 International Lizenz.
    </div>
</div>
