<div class="c-promo">

    <div class="c-promo__head">
        <a class="c-promo__title" href="{{url}}">
            {{{title}}}
        </a>
        <a class="c-btn c-promo__btn" href="{{url}}">
            <span class="u-ic-arrow-forward"></span>
        </a>
    </div>

    <a class="c-promo__img" href="{{url}}">
        {{> atoms-landscape }}
    </a>

</div>
