<div class="c-media-promo">

    <div class="c-media-promo__head">
        <a class="c-media-promo__title" href="{{url}}">
            {{{title}}}
        </a>
        <a class="c-btn c-media-promo__btn" href="{{url}}">
            <span class="u-ic-keyboard-arrow-right"></span>
        </a>
    </div>

    <a class="c-media-promo__img" href="{{url}}">
        {{> atoms-landscape }}
    </a>

</div>
