<div class="o-media o-media--stacked@mobile {{ styleModifier }}">
    <div class="o-media__img u-160">
        <img class="u-rounded u-box-shadow u-1/1" src="{{ speaker.img }}" alt="speaker" />
    </div>
    <div class="o-media__body">
        <h1 class="u-responsive">{{ speaker.name }}</h1>
        <p>{{ speaker.description }}</p>
        <ul class="o-list-inline o-list-inline--large o-list-inline--nowrap">
            <li>
                <span class="u-ic-videocam"></span> <strong>{{ speaker.count }}</strong> Videos
            </li>
            <li class="">
                Website: <a class="c-link c-link--dotted c-link--white u-bolder" href="{{ speaker.website.url }}">
                    <span class="u-ic-open_in_new"></span>
                    {{ speaker.website.title }}
                </a>
            </li>
        </ul>
    </div>
</div>
