<div class="c-slide c-slide--quote {{ styleModifier }}">

    <div class="o-wrapper c-slide--wrapper">

        <div class="c-slide__body">

            <div class="c-slide__quote u-lead">
                {{ quote }}
            </div>

            <div class="c-slide__credits">
                {{ credits }}
            </div>

        </div>

    </div>

</div>
