<div class="c-slide {{ styleModifier }}" style="background-image: url('{{background}}')">
    <a href="{{url}}" class="c-slide__link"></a>

        <div class="o-wrapper c-slide--wrapper">

            <div class="c-slide__body">

                <h1 class="u-mb-">{{ heading }}</h1>
                <p class="u-lead u-muted">{{{ text }}}</p>
                <button class="c-btn c-btn--tertiary c-slide__btn">{{ button }} <span class="u-ic-arrow_forward"></span></button>

            </div>

        </div>

</div>
