<nav class="{{ styleModifier }}" role="navigation" aria-label="Tabs Navigation">

    <ul class="c-button-group c-button-group--stretch@tablet">

        {{# buttons }}
        <li class="c-button-group__item">
            <button class="c-btn c-btn--secondary c-btn--small {{class}}">
                {{label}}
            </button>
        </li>
        {{/ buttons }}

    </ul><!--end c-primary-nav__list-->

</nav><!--end c-primary-nav-->
