<li class="c-primary-nav__dropdown__item">
    <a class="o-box o-box--natural c-link c-link--block c-link--primary" href="#">
        <span class="c-badge c-badge--success">live</span>
        <strong>Heute</strong> um <strong>17:30</strong>
        <br><small>Predigt mit Markus Witte</small>
    </a>
</li>
<li class="o-box o-box--natural c-primary-nav__dropdown__item
    c-primary-nav__dropdown__item--alternate">
    <strong class="u-lead">Dienstag</strong>
    <span class="u-muted">&middot; 20. Juni &middot; 19:30</span>
    <br><small>Der Ersehnte &amp; Offenbarung Vers für Vers</small>
</li>
<li class="o-box o-box--natural c-primary-nav__dropdown__item
    c-primary-nav__dropdown__item--alternate">
    <strong class="u-lead">Dienstag</strong>
    <span class="u-muted">&middot; 20. Juni &middot; 19:30</span>
    <br><small>Der Ersehnte &amp; Offenbarung Vers für Vers</small>
</li>
<li class="c-primary-nav__dropdown__item">
    <a class="c-link c-link--block c-link--primary u-eclipse" href="{{ url }}">
        Livestream Seite <span class="u-ic-arrow-forward"></span>
    </a>
</li>
