<nav id="nav" class="c-mobile-nav">

    <div class="c-mobile-nav__wrapper">

    <header class="c-mobile-nav__header">
        <h2 class="c-mobile-nav__title">Men&uuml;</h2>
        <button class="c-btn c-btn--tertiary c-btn--icon c-btn--ghost"
            name="mobieNavBtn" data="close">
            <span class="u-ic-close"></span>
        </button>
    </header>

    <div class="c-mobile-nav__search">
        {{> molecules-search-bar:c-search-bar--mobile }}
    </div>

	<ul class="c-mobile-nav__list">

		{{# mobileNav }}
		<li class="c-mobile-nav__item">
            <a href="{{ url }}" class="c-mobile-nav__link u-eclipse">
                {{ label }}
            </a>
        </li>
		{{/ mobileNav }}

	</ul><!--end c-mobile-nav__list-->

    </div>

</nav><!--end c-mobile-nav-->
