<ul class="o-pack o-pack--1px u-margin-bottom-none u-padding-right {{ styleModifier }}">

    {{# sortOptions }}
    {{# mobile }}
    <li class="o-pack__item">
        <button class="c-btn c-btn--secondary c-btn--tiny c-btn--edgy u-1/1 {{btnClass}}">
            {{label}}
            {{# direction }}<span class="u-ic-keyboard-arrow-{{direction}}"></span>{{/ direction }}
        </button>
    </li>
    {{/ mobile }}
    {{/ sortOptions }}

</ul>
