<ul class="o-list-inline o-list-inline--flush {{ styleModifier }}">

    <li class="o-list-inline__item">
        Sortieren nach
    </li>

    {{# sortOptions }}
    <li class="o-list-inline__item">
        <button class="c-btn c-btn--secondary c-btn--tiny c-btn--edgy {{btnClass}}">
            {{label}}
            {{# direction }}<span class="u-ic-keyboard_arrow_{{direction}}"></span>{{/ direction }}
        </button>
    </li>
    {{/ sortOptions }}

</ul>
