
<section class="c-section u-p u-pv+">

    <h1>Buttons on light background</h1>

    <strong>Default:</strong>
    <button class="c-btn">c-btn</button>
    <button class="c-btn c-btn--primary">c-btn--primary</button>
    <button class="c-btn c-btn--secondary">c-btn--secondary</button>
    <button class="c-btn c-btn--green">c-btn--green</button>
    <button class="c-btn c-btn--red">c-btn--red</button>
    <button class="c-btn c-btn--dark">c-btn--dark</button>
    <button class="c-btn c-btn--light">c-btn--light</button>

    <hr class="u-mv">

    <strong>Ghost:</strong>
    <button class="c-btn c-btn--ghost">c-btn</button>
    <button class="c-btn c-btn--ghost c-btn--primary">c-btn--primary</button>
    <button class="c-btn c-btn--ghost c-btn--secondary">c-btn--secondary</button>
    <button class="c-btn c-btn--ghost c-btn--green">c-btn--green</button>
    <button class="c-btn c-btn--ghost c-btn--red">c-btn--red</button>
    <button class="c-btn c-btn--ghost c-btn--dark">c-btn--dark</button>
    <button class="c-btn c-btn--ghost c-btn--light">c-btn--light</button>
    <button class="c-btn c-btn--ghost c-btn--subtle">c-btn--subtle</button>

</section>

<section class="c-section c-section--primary u-p u-pv+">

    <h1>Buttons on dark background</h1>

    <strong>Default:</strong>
    <button class="c-btn">c-btn</button>
    <button class="c-btn c-btn--primary">c-btn--primary</button>
    <button class="c-btn c-btn--secondary">c-btn--secondary</button>
    <button class="c-btn c-btn--green">c-btn--green</button>
    <button class="c-btn c-btn--red">c-btn--red</button>
    <button class="c-btn c-btn--dark">c-btn--dark</button>
    <button class="c-btn c-btn--light">c-btn--light</button>

    <hr class="u-mv">

    <strong>Ghost:</strong>
    <button class="c-btn c-btn--ghost">c-btn</button>
    <button class="c-btn c-btn--ghost c-btn--primary">c-btn--primary</button>
    <button class="c-btn c-btn--ghost c-btn--secondary">c-btn--secondary</button>
    <button class="c-btn c-btn--ghost c-btn--green">c-btn--green</button>
    <button class="c-btn c-btn--ghost c-btn--red">c-btn--red</button>
    <button class="c-btn c-btn--ghost c-btn--dark">c-btn--dark</button>
    <button class="c-btn c-btn--ghost c-btn--light">c-btn--light</button>
    <button class="c-btn c-btn--ghost c-btn--subtle">c-btn--subtle</button>

</section>

<section class="c-section u-p u-pv+">

    <h1>Button Modifiers</h1>

    <button class="c-btn c-btn--primary c-btn--large">c-btn--large</button>
    <button class="c-btn c-btn--primary">c-btn</button>
    <button class="c-btn c-btn--primary c-btn--small">c-btn--small</button>
    <button class="c-btn c-btn--primary c-btn--tiny">c-btn--tiny</button>

    <hr class="u-mv">

    <button class="c-btn c-btn--primary c-btn--icon"><span class="u-ic-download"></span></button>
    <button class="c-btn c-btn--primary c-btn--bigicon"><span class="u-ic-download"></span></button>
    <button class="c-btn c-btn--primary c-btn--square c-btn--icon"><span class="u-ic-download"></span></button>
    <button class="c-btn c-btn--primary c-btn--square c-btn--bigicon"><span class="u-ic-download"></span></button>
    <button class="c-btn c-btn--primary c-btn--ghost c-btn--square c-btn--icon"><span class="u-ic-download"></span></button>
    <button class="c-btn c-btn--primary c-btn--ghost c-btn--square c-btn--bigicon"><span class="u-ic-download"></span></button>

    <hr class="u-mv">

    <button class="c-btn c-btn--dark c-btn--left">c-btn--left</button>
    <button class="c-btn c-btn--dark c-btn--right">c-btn--right</button>
    <button class="c-btn c-btn--dark c-btn--dropdown">c-btn--dropdown</button>

</section>
