
<button class="c-btn c-btn--primary">c-btn--primary</button>
<button class="c-btn c-btn--secondary">c-btn--secondary</button>
<button class="c-btn c-btn--tertiary">c-btn--tertiary</button>
<button class="c-btn c-btn--none">c-btn--none</button>

<hr class="u-mv-">

<button class="c-btn c-btn--ghost c-btn--primary">c-btn--ghost c-btn--primary</button>
<button class="c-btn c-btn--ghost c-btn--secondary">c-btn--ghost c-btn--secondary</button>
<button class="c-btn c-btn--ghost c-btn--tertiary">c-btn--ghost c-btn--tertiary</button>
<button class="c-btn c-btn--ghost c-btn--none">c-btn--ghost c-btn--none</button>

<hr class="u-mv-">

<button class="c-btn c-btn--large">c-btn--large</button>
<button class="c-btn">c-btn</button>
<button class="c-btn c-btn--small">c-btn--small</button>
<button class="c-btn c-btn--tiny">c-btn--tiny</button>

<hr class="u-mv-">

<button class="c-btn c-btn--icon"><span class="u-ic-download"></span></button>
<button class="c-btn c-btn--bigicon"><span class="u-ic-download"></span></button>
<button class="c-btn c-btn--square c-btn--icon"><span class="u-ic-download"></span></button>
<button class="c-btn c-btn--square c-btn--bigicon"><span class="u-ic-download"></span></button>
<button class="c-btn c-btn--ghost c-btn--square c-btn--icon"><span class="u-ic-download"></span></button>
<button class="c-btn c-btn--ghost c-btn--square c-btn--bigicon"><span class="u-ic-download"></span></button>

<hr class="u-mv-">

<button class="c-btn c-btn--tertiary c-btn--left">c-btn--left</button>
<button class="c-btn c-btn--tertiary c-btn--right">c-btn--right</button>
<button class="c-btn c-btn--tertiary c-btn--dropdown">c-btn--dropdown</button>
