<div class="o-box o-box u-pv+
    u-text-center u-box-center u-1/2@desktop u-2/3@tablet {{ styleModifier }}">

    <h2 class="u-mb0">E-Mail Newsletter</h2>
    <p class="u-lead u-muted">
        Neuigkeiten und Bekanntmachungen bez&uuml;glich Joel Media und aktuellem Zeitgeschehen
    </p>

    {{> molecules-input-with-button:c-form--large }}

</div>

