
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  <script src="/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/js/flyin.js"></script>
  <script src="/js/slider.js"></script>
  <script src="/js/overflow.js"></script>
  <script src="/js/toggle.js"></script>
  <script src="/js/fadeSiblings.js"></script>
  </body>
</html>
